* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Poppins;
	max-width: 1200px;
	margin: 40px auto;
	display: flex;
	justify-content: center;
}

ul {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

span.labelStyle {
    width: 24px;
    height: 24px;
    cursor: pointer;
    /* background-color: green; */
    border: 2px solid #28a745;
    border-radius: 50%;
    display: inline-block;
  }
